site_name: anjor.xyz
site_description: Anjor Kanekar's personal website
site_author: Anjor Kanekar
site_url: https://anjor.xyz
repo_url: https://github.com/anjor/website

nav:
  - Home:
      - Introductions: "index.md"
      - Writing: "writing/index.md"
      - Hire Me: "hire.md"
  - Writing:
      - "writing/index.md"
  - Hire Me:
      - "hire.md"

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  features:
    - navigation.indexes
    - navigation.tabs

plugins:
  - blog:
      blog_dir: writing
      blog_toc: true
      post_dir: writing/posts
      post_date_format: yyyy/MM/dd
      post_url_format: "{date}/{slug}"
      authors_file: "{blog}/.authors.yml"
  - rss:
      match_path: writing/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
      image: https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png
markdown_extensions:
  - attr_list
  - footnotes

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/__anjor
    - icon: fontawesome/brands/github
      link: https://github.com/anjor
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/anjor-kanekar/
    - icon: material/rss
      link: /feed_rss_updated.xml
      name: Subscribe to our RSS Feed
  analytics:
    provider: google
    property: G-HHKQ3RWV3N

copyright: Copyright &copy; 2023 Anjor Kanekar
